body {
    color: #bfe796;
    background-color: #63a17c;
}

a {
    text-decoration: none;
}

.container {
    margin-top: 10px;
}

.my-popover-content {
    display: none;
}

.nav-link a {
    font-size: 18px;
}

ul{
    padding-left: 0;
    list-style: none;
}
.navbar-collapse{
    justify-content: inherit;
}